.App {
  text-align: center;
  background-color: #1d1f27;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.student-img {
  width: 300px;
  margin-bottom: 20px;
}

a {
  color: #00bfff;
  text-decoration: underline;
}
